:root {
  --background: #1a1a1a;

  --primary-blue-110: #004995;

  --secondary-yellow-100: #b99855;
  // white color variable
  --white-100: #ffffff;
  --white-20: #a6a6a2;
  --white-10: #646461;

  // black color
  --black-20: #2c2c2c;
  --black-10: #666666;
}
